  <div>
    <h3>Artist: <%= @album.artist %></h3>
  </div>
  <br>
  <div>
  <img src=" <%=@album.cover_art%> ">
  </div>
  <div>
  	<p>Album: <%= @album.album %></p>
  </div>
    <div>
    <p>Year: <%= @album.year %></p>
  </div>
  <div>

  <%= button_to "Edit", edit_album_path(:id => @album.id), method: :get %> 
  <%= button_to "Delete", delete_album_path(:id => @album.id), method: :delete %>

<h2>Comments</h2>
<% @album.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>  

  <h2>Add a comment:</h2>
<%= form_for([@album, @album.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

  <%= link_to 'Back', albums_path %>